.section1{
    min-height:90vh ;
    overflow: hidden;
    background-color: var(--dark-blue-clr);   
}
.section1 .container{
        padding: 0rem 0rem 0rem 0rem;
}

.sidenav{
    transform: rotate(-90deg);
    margin-bottom: -15rem;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-2);
    color: var(--light-grey-clr);
    position: relative;
    margin-left: -8.2rem;
    gap: 2rem;
}
.sidenav span{
    cursor: pointer;
}
.sidenav span:hover{
    color: var(--yellow-clr);
}
.sidenav img{
    position: absolute;
    width: 31%;
    transform: rotate(90deg);
    z-index: -1;
}
 hr{
    transform: rotate(90deg);
    height: 7rem;
    width: 2px;
    background-color: var(--light-grey-clr);
    border: none;
}
.intro{
    align-items: center;
    justify-content: space-between;
}
.intro .i-left{
    height: 25rem;
    width: 44rem;
    justify-content: space-evenly;
}
.i-left h1{
    font-size: 3.75rem;
    font-family: var(--font-family-1);
    font-weight: bold;
    color: var(--white-clr);
}

.i-left .span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22rem;
    color: var(--white-clr);
    font-family: var(--font-family-1);
}
.span span:nth-child(1){
border-right: 1px solid var(--yellow-clr);
padding-right: 2rem;
}
.span span:nth-child(2){
border-right: 1px solid var(--yellow-clr);
padding-right: 2rem;
}

.i-left p{
    color: var(--white-clr);
    line-height: 1.8em;
}

.i-right{
    position: relative;
    height: 90vh;
}

 .i-right img:nth-child(1){
  position: relative;
  margin-top: 25rem;
}
 .i-right img:nth-child(2){
    position: absolute;
    top: 33%;
    left: 15%;
    width: 113%;
}
 .i-right img:nth-child(3){
    position: absolute;
    /* top: 33%; */
    left: 86%;
    width: 113%;
    margin-top: 25rem;
}
 .i-right img:nth-child(4){
    position: absolute;
    top: 6%;
    left: 17%;
    width: 68%;
}


/* media query for mobile */
@media (min-width:320px) and (max-width:480px){
    .section1{
        background-color: var(--dark-blue-clr);
         padding: 1rem 1.5rem 0rem 1.5rem;
    }
    .sidenav{
        display: none;
    }
    hr{
        display: none;
    }
    .intro{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .intro .i-left {
        height: 25rem;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .i-left h1 {
        font-size: 1.75rem;
    }
    .span{
        font-size: 0.6rem;
    }
    .i-left .span{
        width: 14rem;
    }
    .i-left p {
        font-size: 0.7rem;
    }
    .i-right{
        position: static;
        height: 55vh;
    }
    .i-right img:nth-child(4){
     position: static;
        top: 6%;
        left: 17%;
        width: 68%;
    }
    .i-right img:nth-child(1){
       display: none;
      }
       .i-right img:nth-child(2){
          display: none;
      }
       .i-right img:nth-child(3){
          display: none;
      }
   
}


/* media query for Tablets */
@media (min-width:481px) and (max-width:768px){
    .section1{
        background-color: var(--dark-blue-clr);
         padding: 1rem 1.5rem 0rem 1.5rem;
    }
    .sidenav{
        display: none;
    }
    
    hr{
        display: none;
    }
    .intro{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .intro .i-left {
        height: 25rem;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
    }
    .i-left h1 {
        font-size: 2rem;
    }
    .span{
        font-size: 1rem;
    }
    .i-left .span{
        width: 19rem;
    }
    .i-left p {
        font-size: 0.8rem;
    }
}