@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Roboto:wght@400;500&display=swap');
:root{
--yellow-clr:#FFDC0D;
--light-grey-clr:#7E8088;
--white-clr:#FFFFFF;
--dark-blue-clr:#030D29;
--light-blue:#021330;
--font-family-1: 'Roboto Slab', serif;
--font-family-2: 'Roboto',sans-serif;
}

*,
*::after,
*::before{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.container{
    padding: 2rem 23rem;
}
section{
    margin-bottom: 2rem;
}
/* .App{
padding: 1rem 2rem;
} */

.flex-row{
    display: flex;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.grid-row{
    display: grid;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

